<a href="https://colab.research.google.com/github/larregui/UFOCloseEncounters/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First Program**
ðŸ™‚

In [ ]:
#use the hashtag symbol to make comments
print("Hello World")#Hello World is a string
#Print("Hello World") #This statement wouln't work because print as a capital P

Hello World

# **Declare a Variable**

In [ ]:
age=20
print(age)

20

# **Reiceiving Input**
The input() function allows us to get typed information from our user. The question we write inside the input parentheses allows us to display some sort of prompt before the user types something. It wouldnâ€™t do us any good if we didnâ€™t store the input somewhere, so weâ€™ll store the input in variables.

In [ ]:
name= input("What is your name? ")
print("Hello " + name)

What is your name? Jane
Hello Jane

# **Combining Data Types**

In [ ]:
birth_year=input("Enter your birth year: ")
age=2023-birth_year #you can't subtract a string
print(age)#There will be an error

Enter your birth year: 2000

TypeError: ignored

In [ ]:
birth_year=input("Enter your birth year: ")
age=2023-int(birth_year)
print(age)

Enter your birth year: 2000
23

In [ ]:
#You can combine different data types by using commas:
text1 = "Distance to Mars:"
distance = 33.9
text2 = "million miles from Earth."

print(text1, distance, text2)

Distance to Mars: 33.9 million miles from Earth.

In [ ]:
first=float(input("First: "))
second=float(input("Second: "))
sum= str(first + second)
print("Sum: "+sum)

First: 100
Second: 25.5
Sum: 125.5

#**What can you do with strings?**

In [ ]:
course="Python Class" #String Object
course.upper() #method = object + function

'PYTHON CLASS'

In [ ]:
"""
Remember Python is case sensitive.
If you were to look for c,
-1 would have been returned
"""
course="Python Class" #String Object
course.find("C") #finds the index

7

#**Augmented assignment operator**

In [ ]:
#Augmented assignment operator
num=4
num+=2
print(num)

6

# **More Expressions**

In [ ]:
print(3+1*2-6/3)
#Heads up: The first print will print 3.0
#because there was division in the operation
#it will give a float as a result.

3.0

# **Comparison Operators**

In [ ]:
print(3>2)

True

# **Logical Operators**

In [ ]:
price=25
print(price>10 and price<30)
price=5
print(price>10 or price<30)
print(not (price > 10))

True
True
True

# **If Statements**

In [ ]:
# IF statements help make decisions within programs
temp=85 #temperature

#indentation is essential for IF statements
if temp > 90:
  print("It's a hot day. Drink plenty of water")
elif temp > 80:
  print("It's a nice day")
# declaring a condition when temp is between 80 and 90
print("Done")
#without this statement there wouldn't be any output if temp<=80

It's a nice day
Done

# **While Loops**

In [ ]:
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

# **For Loops**

In [ ]:
number=[1,2,3,4,5] #This is list (datatype)
for item in number:
  print(item)

#Similar to While loop, but less lines
#Also, you will need to know the number of items in the list

1
2
3
4
5

## **Calculate ice cream crates needed for the crew to last the 12-year journey to Neptune.**

In [ ]:
ic_crates_per_yr = int(input("How many crates are consumed each year? "))
yrs_to_neptune = 12
ic_crates_supply = ic_crates_per_yr * yrs_to_neptune

print("The crew will need", ic_crates_supply, "crates of ice cream total.")

How many crates are consumed each year? 25
The crew will need 300 crates of ice cream total.